h1 {
  margin: 5px 0px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 45px;
}

h2 {
  margin: 10px 0px;
  font-family: "Source Sans Pro", sans-serif;
}

.group-search {
  display: flex;
  margin: 15px 0px 5px 0px;
  align-items: center;
  justify-content: space-between;
}
