@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Source+Sans+Pro:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: 0;
}

*:focus {
  outline: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
label {
  font-size: 15px;
  background-color: #fcfcfd;
  font-family: "PT Mono", monospace;
  color: #170c3a;
}

h1 {
  text-align: left;
  font: Semibold 42px/50px Source Sans Pro;
  letter-spacing: 0.84px;
  color: #170c3a;
  opacity: 1;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
